src/main/wsdl/erp-integration.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
    RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). 
    RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://erp.integration.services.treasury.fenixedu.org/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://erp.integration.services.treasury.fenixedu.org/"
    name="ERPExternalServiceClient">
    <types>
        <xsd:schema>
            <xsd:import
                namespace="http://erp.integration.services.treasury.fenixedu.org/"
                schemaLocation="erp-integration.xsd" />
        </xsd:schema>
    </types>
    <message name="sendInfoOffline">
        <part name="parameters" element="tns:sendInfoOffline" />
    </message>
    <message name="sendInfoOfflineResponse">
        <part name="parameters" element="tns:sendInfoOfflineResponse" />
    </message>
    <message name="sendInfoOnline">
        <part name="parameters" element="tns:sendInfoOnline" />
    </message>
    <message name="sendInfoOnlineResponse">
        <part name="parameters" element="tns:sendInfoOnlineResponse" />
    </message>
    <message name="getIntegrationStatusFor">
        <part name="parameters" element="tns:getIntegrationStatusFor" />
    </message>
    <message name="getIntegrationStatusForResponse">
        <part name="parameters" element="tns:getIntegrationStatusForResponse" />
    </message>
    <message name="getInterestValueFor">
        <part name="parameters" element="tns:getInterestValueFor" />
    </message>
    <message name="getInterestValueForResponse">
        <part name="parameters" element="tns:getInterestValueForResponse" />
    </message>
    <portType name="ERPExternalService">
        <operation name="sendInfoOffline">
            <input
                wsam:Action="http://erp.integration.services.treasury.fenixedu.org/ERPIntegrationService/sendInfoOfflineRequest"
                message="tns:sendInfoOffline" />
            <output
                wsam:Action="http://erp.integration.services.treasury.fenixedu.org/ERPIntegrationService/sendInfoOfflineResponse"
                message="tns:sendInfoOfflineResponse" />
        </operation>
        <operation name="sendInfoOnline">
            <input
                wsam:Action="http://erp.integration.services.treasury.fenixedu.org/ERPIntegrationService/sendInfoOnlineRequest"
                message="tns:sendInfoOnline" />
            <output
                wsam:Action="http://erp.integration.services.treasury.fenixedu.org/ERPIntegrationService/sendInfoOnlineResponse"
                message="tns:sendInfoOnlineResponse" />
        </operation>
        <operation name="getIntegrationStatusFor">
            <input
                wsam:Action="http://erp.integration.services.treasury.fenixedu.org/ERPIntegrationService/getIntegrationStatusForRequest"
                message="tns:getIntegrationStatusFor" />
            <output
                wsam:Action="http://erp.integration.services.treasury.fenixedu.org/ERPIntegrationService/getIntegrationStatusForResponse"
                message="tns:getIntegrationStatusForResponse" />
        </operation>
        <operation name="getInterestValueFor">
            <input
                wsam:Action="http://erp.integration.services.treasury.fenixedu.org/ERPIntegrationService/getInterestValueForRequest"
                message="tns:getInterestValueFor" />
            <output
                wsam:Action="http://erp.integration.services.treasury.fenixedu.org/ERPIntegrationService/getInterestValueForResponse"
                message="tns:getInterestValueForResponse" />
        </operation>
    </portType>
    <binding name="ERPExternalServicePortBinding" type="tns:ERPExternalService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
            style="document" />
        <operation name="sendInfoOffline">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="sendInfoOnline">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getIntegrationStatusFor">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getInterestValueFor">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="ERPExternalServiceService">
        <port name="ERPExternalServicePort" binding="tns:ERPExternalServicePortBinding">
            <soap:address
                location="http://localhost:8080/fenix/web-services/erp-integration" />
        </port>
    </service>
</definitions>