src/main/resources/wsdl/Fenix_Singap_v2.0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CarregarSAFT_OFF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarregarSAFT_OFFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CarregarSAFT_OFFResult" type="tns:Resposta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Resposta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensagem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="chavePrimaria" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CarregarSAFT_ON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarregarSAFT_ONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CarregarSAFT_ONResult" type="tns:ArrayOfResposta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResposta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Resposta" type="tns:Resposta" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExportarSAFT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportarSAFTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExportarSAFTResult" type="tns:Resposta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarDivida">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarDividaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConsultarDividaResult" type="tns:Resposta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaEstado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documentID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaEstadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificaEstadoResult" type="tns:Resposta" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CarregarSAFT_OFFSoapIn">
    <wsdl:part name="parameters" element="tns:CarregarSAFT_OFF" />
  </wsdl:message>
  <wsdl:message name="CarregarSAFT_OFFSoapOut">
    <wsdl:part name="parameters" element="tns:CarregarSAFT_OFFResponse" />
  </wsdl:message>
  <wsdl:message name="CarregarSAFT_ONSoapIn">
    <wsdl:part name="parameters" element="tns:CarregarSAFT_ON" />
  </wsdl:message>
  <wsdl:message name="CarregarSAFT_ONSoapOut">
    <wsdl:part name="parameters" element="tns:CarregarSAFT_ONResponse" />
  </wsdl:message>
  <wsdl:message name="ExportarSAFTSoapIn">
    <wsdl:part name="parameters" element="tns:ExportarSAFT" />
  </wsdl:message>
  <wsdl:message name="ExportarSAFTSoapOut">
    <wsdl:part name="parameters" element="tns:ExportarSAFTResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarDividaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarDivida" />
  </wsdl:message>
  <wsdl:message name="ConsultarDividaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarDividaResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaEstadoSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaEstado" />
  </wsdl:message>
  <wsdl:message name="VerificaEstadoSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaEstadoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CarregarSAFT_OFF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para carregar SAFT Offline</wsdl:documentation>
      <wsdl:input message="tns:CarregarSAFT_OFFSoapIn" />
      <wsdl:output message="tns:CarregarSAFT_OFFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CarregarSAFT_ON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para carregar SAFT Online</wsdl:documentation>
      <wsdl:input message="tns:CarregarSAFT_ONSoapIn" />
      <wsdl:output message="tns:CarregarSAFT_ONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportarSAFT">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para exportar SAFT Offline</wsdl:documentation>
      <wsdl:input message="tns:ExportarSAFTSoapIn" />
      <wsdl:output message="tns:ExportarSAFTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDivida">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para consultar dívida de Cliente</wsdl:documentation>
      <wsdl:input message="tns:ConsultarDividaSoapIn" />
      <wsdl:output message="tns:ConsultarDividaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificaEstado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para verificar estado de Integração</wsdl:documentation>
      <wsdl:input message="tns:VerificaEstadoSoapIn" />
      <wsdl:output message="tns:VerificaEstadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CarregarSAFT_OFF">
      <soap:operation soapAction="http://tempuri.org/CarregarSAFT_OFF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarSAFT_ON">
      <soap:operation soapAction="http://tempuri.org/CarregarSAFT_ON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportarSAFT">
      <soap:operation soapAction="http://tempuri.org/ExportarSAFT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDivida">
      <soap:operation soapAction="http://tempuri.org/ConsultarDivida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaEstado">
      <soap:operation soapAction="http://tempuri.org/VerificaEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CarregarSAFT_OFF">
      <soap12:operation soapAction="http://tempuri.org/CarregarSAFT_OFF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarSAFT_ON">
      <soap12:operation soapAction="http://tempuri.org/CarregarSAFT_ON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportarSAFT">
      <soap12:operation soapAction="http://tempuri.org/ExportarSAFT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDivida">
      <soap12:operation soapAction="http://tempuri.org/ConsultarDivida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaEstado">
      <soap12:operation soapAction="http://tempuri.org/VerificaEstado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/Fenix/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/Fenix/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>