src/main/resources/wsdl/WCFGenio.WSF.WCFServiceWSF-1.0.0-15092015.svc.xsd5.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFGenio.WSF.InteraccaoWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFGenio.WSF.InteraccaoWS">
<xs:complexType name="ArrayOfResposta">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="Resposta" nillable="true" type="tns:Resposta"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfResposta" nillable="true" type="tns:ArrayOfResposta"/>
<xs:complexType name="Resposta">
<xs:sequence>
<xs:element minOccurs="0" name="chavePrimaria" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="Resposta" nillable="true" type="tns:Resposta"/>
</xs:schema>