src/main/resources/wsdl/zws_faturacaoclientes_2016_09_22.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
	</wsdl:documentation>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="BN__ZULWS_FATURACAOCLIENTES_soap12">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
			</wsp:All>
			<wsp:All>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="IF__ZULWS_FATURACAOCLIENTES">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
					<sapsession:enableSession>false</sapsession:enableSession>
				</sapsession:Session>
				<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
					<sapcentraladmin:BusinessApplicationID>005056953E3D1ED684F31EE76000FDC3</sapcentraladmin:BusinessApplicationID>
				</sapcentraladmin:CentralAdministration>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OP__ZulfmwsFaturacaoClientes">
		<wsp:ExactlyOne>
			<wsp:All>
				<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
				<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
				<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
				<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="string">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
			<xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
			<xsd:simpleType name="string">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:complexType name="ZulwsfaturacaoClientesIn">
				<xsd:sequence>
					<xsd:element name="Data" type="xsd:base64Binary"/>
					<xsd:element name="FinantialInstitution" type="n0:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZulwsfaturacaoClientesOut">
				<xsd:sequence>
					<xsd:element name="DocumentStatus" type="tns:ZulfwsdocumentStatusWsTab1"/>
					<xsd:element name="Customers" type="tns:ZulfwscustomersReturn1"/>
					<xsd:element name="RequestId" type="tns:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZulwsdocumentStatusWs1">
				<xsd:sequence>
					<xsd:element name="CertifiedDocumentUrl" type="n0:string"/>
					<xsd:element name="DocumentNumber" type="n0:string"/>
					<xsd:element name="ErrorDescription" type="n0:string"/>
					<xsd:element name="IntegrationStatus" type="n0:string"/>
					<xsd:element name="SapDocumentNumber" type="tns:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZulfwscustomersReturn1S">
				<xsd:sequence>
					<xsd:element name="CustomerId" type="tns:string"/>
					<xsd:element name="CustomerIdSap" type="tns:string"/>
					<xsd:element name="IntegrationStatus" type="tns:string"/>
					<xsd:element name="ReturnMsg" type="tns:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZulfwsdocumentStatusWsTab1">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZulwsdocumentStatusWs1" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZulfwscustomersReturn1">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZulfwscustomersReturn1S" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ZulfmwsFaturacaoClientes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Input" type="tns:ZulwsfaturacaoClientesIn"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZulfmwsFaturacaoClientesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Output" type="tns:ZulwsfaturacaoClientesOut"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ZulfmwsFaturacaoClientes">
		<wsdl:part name="parameters" element="tns:ZulfmwsFaturacaoClientes"/>
	</wsdl:message>
	<wsdl:message name="ZulfmwsFaturacaoClientesResponse">
		<wsdl:part name="parameter" element="tns:ZulfmwsFaturacaoClientesResponse"/>
	</wsdl:message>
	<wsdl:portType name="ZULWS_FATURACAOCLIENTES">
		<wsdl:documentation>
			<sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
				<sapdoc:docitem docURL="http://sap-dev.ulisboa.pt:8000/sap/bc/esdt/docu/sd_text?sap-client=007&amp;sd_name=ZULWS_FATURACAOCLIENTES"/>
			</sapdoc:sapdoc>
		</wsdl:documentation>
		<wsp:Policy>
			<wsp:PolicyReference URI="#IF__ZULWS_FATURACAOCLIENTES"/>
		</wsp:Policy>
		<wsdl:operation name="ZulfmwsFaturacaoClientes">
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP__ZulfmwsFaturacaoClientes"/>
			</wsp:Policy>
			<wsdl:input message="tns:ZulfmwsFaturacaoClientes"/>
			<wsdl:output message="tns:ZulfmwsFaturacaoClientesResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZULWS_FATURACAOCLIENTES_soap12" type="tns:ZULWS_FATURACAOCLIENTES">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN__ZULWS_FATURACAOCLIENTES_soap12"/>
		</wsp:Policy>
		<wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="ZulfmwsFaturacaoClientes">
			<wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZULWS_FATURACAOCLIENTES:ZulfmwsFaturacaoClientesRequest" style="document"/>
			<wsdl:input>
				<wsoap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="zulws_faturacaoclientes">
		<wsdl:port name="ZULWS_FATURACAOCLIENTES_soap12" binding="tns:ZULWS_FATURACAOCLIENTES_soap12">
			<wsoap12:address location="http://sap-dev.ulisboa.pt:8000/sap/bc/srt/rfc/sap/zulws_faturacaoclientes/007/zulws_faturacaoclientes/zulws_faturacaoclientes?sap-language=PT"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>